{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/afficher_sortie.css') }}">
{% endblock %}

{% block title %}Sortie : "{{ sortie.nom }}" | {{ parent() }}{% endblock %}

{% block body %}
    <section>
        <h2>Détails de la sortie</h2>

        <div class="bloc">
        <div class="blocGauche" >
            <div class="label-sortie"><label>Nom de la sortie :</label> <p> {{ sortie.nom }}</p></div>
            <div class="label-sortie"><label>Date et heure de la sortie :</label> <p> {{ sortie.dateHeureDebut | date('d/M/Y h:m', false)}}</p></div>
            <div class="label-sortie"><label>Date limite d'inscription : </label> <p> {{ sortie.dateLimiteInscription | date('d/M/Y')}}</p></div>
            <div class="label-sortie"><label>Nombre de places : </label> <p> {{ sortie.nbInscriptionsMax }}</p></div>
            <div class="label-sortie"><label>Durée :  </label> <p> {{ sortie.duree | date('h') }} h {{ sortie.duree | date('m') }} min</p></div>
            <div class="label-sortie"><label>Description et infos :   </label> <p> {{ sortie.infosSortie }}</p></div>
        </div>
        <div class="blocDroit">
            <div class="label-sortie"><label>Campus :   </label> <p> {{ sortie.organisateur.campus.nom }}</p></div>
            <div class="label-sortie"><label>Lieu :   </label> <p> {{ sortie.lieu.nom }}</p></div>
            <div class="label-sortie"><label>Rue : </label> <p> {{ sortie.lieu.rue }}</p></div>
            <div class="label-sortie"><label>Code postal :   </label> <p> {{ sortie.lieu.ville.codePostal }}</p></div>
            <div class="label-sortie"><label>Latitude : </label> <p> {{ sortie.lieu.latitude }}</p></div>
            <div class="label-sortie"><label>Longitude:  </label> <p>  {{ sortie.lieu.longitude }}</p></div>
        </div>
        </div>

        <div id="Liste_participants">
            <h5>Liste des participants inscrits :</h5>
        </div>
        <div class="scroller">
            <table>
                <thead class="en-tête">
                <tr>
                    <td>Pseudo</td>
                    <td>Nom</td>
                </tr>
                </thead>
                <tbody>
                {% for p in sortie.participants %}
                    <tr>
                        <td>{{ p.pseudo }}</td>
                        <td>{{ p.prenom }} {{ p.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}