{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableau_sortie.css') }}">
{% endblock %}

{% block body %}
    <div class="FlexInfoDateUser">
        <p>Date du jour : {{ "now" |date('d/M/Y') }}</p>
    </div>
    <div class="FlexInfoDateUser">
        <p>Participant : {{ app.user.nom }}</p>
    </div>
    <h3>Filtrer les sorties </h3>
    <section>
        <div>
            {{ form_start(searchForm) }}
           <div class="haut_filtre">
               {{ form_row(searchForm.campus) }}
               {{ form_row(searchForm.motClef) }}
           </div>

            <div class="checkbox_filtre">
                {{ form_row(searchForm.est_organisateur) }}
                {{ form_row(searchForm.est_inscrit) }}
                {{ form_row(searchForm.pas_inscrit) }}
                {{ form_row(searchForm.sorties_passees) }}
            </div>
        </div>
        <div class="deuxDates">
            {{ form_row(searchForm.dateDebut) }}
            <div class="margin_date">
                {{ form_row(searchForm.dateFin) }}
            </div>
            <div class="bouton_rechercher">
                {{ form_end(searchForm) }}
            </div>
        </div>
    </section>
    <div class="scroller">
            <table>
                <thead class="en-tête">
                <tr>
                    <td>Nom de la sortie </td>
                    <td>Date de la sortie</td>
                    <td>Clôture</td>
                    <td>Inscrits/places</td>
                    <td>Etat</td>
                    <td>Inscrit</td>
                    <td>Organisateur</td>
                    <td>Actions</td>
                </tr>
                </thead>

                <tbody>
                {% for s in sorties %}
                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut | date('d/M/Y h:m', false) }}</td> <!--TODO-->
                    <td>{{ s.dateLimiteInscription | date('d/M/Y') }}</td>
                    <td> {{ s.participants|length}} / {{ s.nbInscriptionsMax }}</td>
                    <td>{{ s.etat.libelle }}</td>
                    <td>
                        {% if not s.etat.libelle is same as("Création")  %}
                        {% for p in s.participants  %}
                            {% if p is same as(app.user) %}
                                 X
                            {% endif %}
                        {% endfor%}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('profil_participant', { id:s.organisateur.id })}}">{{s.organisateur.nom}} </a></td>

                    <!-- ACTIONS -->
                    <td>
                        {% if not s.motifAnnulation is same as (NULL) %}
                            <p> SORTIE ANNULEE ({{ s.motifAnnulation }})</p>
                        {% else %}
                            <!--AFFICHER : 2 conditions négatives: pas "en création" et pas organisateur -->
                            {% if not s.etat.libelle is same as("Création")  %}
                                <a href="{{ path('afficher_une_sortie', {id:s.id}) }}">Afficher</a>
                            {% endif %}

                            <!--S'INSCRIRE : 3 conditions: ouvert, de la place, et pas déjà inscrit -->
                            {% set inscrit = false %}
                                {% for p in s.participants  %}
                                    {% if p is same as app.user %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor%}
                            {% if s.dateLimiteInscription >= "now" %}
                                    {% if not inscrit and s.etat.libelle is same as("Ouverte") and s.participants|length < s.nbInscriptionsMax  %}
                                     <a href="{{ path('sortie_inscription', {id:s.id}) }}">S'inscrire</a>
                                    {% endif %}
                            {% endif %}

                            <!--SE DESISTER 2 conditions : état pas "en cours et "en création" , s'être inscrit -->
                            {% set desister = false %}
                            {% for p in s.participants  %}
                                {% if p is same as(app.user) %}
                                    {% set desister = true %}
                                {% endif %}
                            {% endfor%}
                            {% if inscrit %}
                                {% if s.etat.libelle is same as("Ouverte") or s.etat.libelle is same as("Clôturée")%}
                                    <a href="{{ path('sortie_desister', {id:s.id}) }}">Se désister</a>
                                {% endif %}
                            {% endif %}
                            <!--PUBLIER , MODIFIER 2 conditions : état "en création" et être organisateur -->
                            {% if s.organisateur is same as(app.user) %}
                                {% if s.etat.libelle is same as("Création") %}
                                    <a href="{{ path('modifier_sortie', {id:s.id} )}}">Publier</a>
                                    <a href="{{ path('modifier_sortie', {id:s.id}) }}">Modifier</a>
                                {% endif %}
                            {% endif %}

                            <!--ANNULER : 1 condition état "ouverte" et être organisateur  -->
                            {% if s.organisateur is same as(app.user) %}
                                {% if s.dateHeureDebut > "now" %}
                                    {% if s.etat.libelle is same as("Ouverte") %}
                                        <a href="{{ path('sortie_annuler', {id:s.id}) }}">Annuler</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>

    <div class="boutons">
        <a href="{{ path('sortie_creer') }}"> <button type="submit" class="btn btn-lg btn-primary">Créer une sortie</button>  </a>
    </div>
{% endblock %}

{% block title %}
    Sortie | {{ parent() }}
{% endblock %}

