{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/annuler_sortie.css') }}">
{% endblock %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
        <h2>Annuler une sortie</h2>
        <div id="annuler_sortie">
            <div>
                <div class="label-sortie"><label>Nom de la sortie :</label><p>{{ sortieChoisie.nom}}</p>
                <div class="label-sortie"><label>Date et heure de la sortie :</label><p> {{ sortieChoisie.dateHeureDebut.format('m/d/Y') }}</p>
                <div class="label-sortie"><label>Campus :</label><p>{{ sortieChoisie.campus.nom }}</p>
                <div class="label-sortie"><label>Lieu :</label><p>{{ sortieChoisie.campus.nom }}</p>
            </div>
            <div>
                {{ form_start(annulationForm) }}
                {{ form_row(annulationForm.motifAnnulation) }}
                {% if sortieChoisie.dateHeureDebut > date()  %}
                    <button type="submit" class=" btn btn-lg btn-primary">Enregistrer</button>
                    <button type="reset" class="btn btn-lg btn-primary">Annuler</button>
                {% else %}
                    <p> Cette sortie ne peut être annulée car la date de cette sortie est commencée ou passée </p>
                {% endif %}
                {{ form_end(annulationForm) }}
            </div>
        </div>

{% endblock %}