{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
        <h2>Annuler une sortie</h2>
        <div>
            <p>Nom de la sortie : {{ sortieChoisie.nom}}</p>
            <p>Date de la sortie : {{ sortieChoisie.dateHeureDebut.format('m/d/Y') }}</p>
            <p>Campus : {{ sortieChoisie.campus.nom }}</p>
            <p>Lieu : {{ sortieChoisie.campus.nom }}</p>
        </div>
        <div>
            {{ form_start(annulationForm) }}
            {{ form_row(annulationForm.motifAnnulation) }}
            {% if sortieChoisie.dateHeureDebut > date()  %}
            <button type="submit" class=" btn btn-lg btn-primary">Enregistrer</button>
            <button type="reset" class="btn btn-lg btn-primary">Annuler</button>
            {% else %}
                <p> Cette sortie ne peut être annulée car la date de cette sortie est commencée ou passée </p>
            {% endif %}
            {{ form_end(annulationForm) }}
        </div>
{% endblock %}