{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}Profil de {{ app.user.pseudo }} | {{ parent() }}{% endblock %}

{% block body %}
    <section>
        <h2>{{ app.user.pseudo }}</h2>
        <div class="div_profil">
            <div class="col-md-9">
                <p>Prénom :  {{ app.user.prenom }}</p>
                <p>Nom :  {{ app.user.nom }}</p>
                <p>Téléphone :  {{ app.user.telephone }}</p>
                <p>Email :  {{ app.user.email }}</p>
                <p>Campus :  {{ app.user.campus.nom }}</p>
            </div>

           <div class="col-md-3">
               {% if not app.user.photo is same as NULL %}
                     <img class="img_profil" src="{{ asset('img/Avatar/'~app.user.photo) }}">
                   {# <img src="{{ vich_uploader_asset(app.user, 'photoFile') }}"> {# Attention revoir si app.user? ou Participant?  #}
               {% endif %}
           </div>
        </div>
        <a href="{{ path('sorties_afficher') }}"><button class="btn btn-lg btn-primary">Retour</button></a>
        <a href="{{ path('profil_modifier') }}"><button class="btn btn-lg btn-primary">Modifier</button></a>
    </section>

{% endblock %}
