    {% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    {% endblock %}

    {% block title %}Profil de {{ participant.pseudo }} | {{ parent() }}{% endblock %}

    {% block body %}
        <section>
            <h2>{{ participant.pseudo }}</h2>
            <div class="div_profil">
                <div class="col-md-9">
                    <div class="label-sortie"><label>Prénom : </label> {{ participant.prenom }}</div>
                    <div class="label-sortie"><label>Nom : </label> {{ participant.nom }}</div>
                    <div class="label-sortie"><label>Téléphone : </label> {{ participant.telephone }}</div>
                    <div class="label-sortie"><label>Email : </label> {{ participant.email }}</div>
                    <div class="label-sortie"><label>Campus : </label> {{ participant.campus.nom }}</div>
                </div>
                    <div class="col-md-3">
                        <img class="img_profil" src="{{ asset('img/Avatar/'~app.user.photo) }}">
                    </div>
                </div>

            {# <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article')  }}" alt="Image"> #}
            <a href="{{ path('sorties_afficher') }}"><button class="btn btn-lg btn-primary">Retour</button></a>
        </section>
    {% endblock %}
