{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <section>
        <h2>{{ app.user.pseudo }}</h2>
        <div>
            <p>Prénom : {{ app.user.prenom }}</p>
            <p>Nom : {{ app.user.nom }}</p>
            <p>Téléphone : {{ app.user.telephone }}</p>
            <p>Email : {{ app.user.email }}</p>
            <p>Campus :</p>
        </div>
        <button class="btn btn-lg btn-primary">Retour</button>
        <a href="{{ path('profil_modifier') }}"><button class="btn btn-lg btn-primary">Modifier</button></a>
    </section>

{% endblock %}
