{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <section>
        <h2>{{ app.user.pseudo }}</h2>
        <div>
            <p>Prénom : {{ app.user.prenom }}</p>
            <p>Nom : {{ app.user.nom }}</p>
            <p>Téléphone : {{ app.user.telephone }}</p>
            <p>Email : {{ app.user.email }}</p>
            <p>Campus :</p>
        </div>
        <button class="btn-primary">Retour</button> <button class="btn-primary">Modifier</button>
    </section>

{% endblock %}
