{% extends 'base.html.twig' %}

{% block title %}Gestion par les administrateurs {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableau_sortie.css') }}">
{% endblock %}

{% block body %}
    <h4>Liste des utilisateurs du site</h4>
    <a class="btn btn-lg btn-primary" href="{{ path('admin_register') }}">Ajouter un utilisateur</a>

    <table >
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Actif/pas actif? </th>
        <th>Actions</th>
    </tr>

            {% for u in utilisateurs %}
                {% if not u.suppression %}
            <tr>
                <td>{{ u.nom }}</td>
                <td>{{ u.prenom }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.actif? 'actif' : 'inactif' }} </td>
                <td><a class="btn btn-primary" href="{{ path('admin_supprimerUtilisateur', {id:u.id}) }}"> {{ u.suppression? '' : 'Supprimer' }} </a>
                    <a class="btn btn-primary" href="{{ path('admin_desactiverUtilisateur', {id:u.id}) }}"> {{ u.actif? 'Désactiver' : 'Réactiver' }} </a></td>
            </tr>
                {% endif %}
            {% endfor %}

    </table>

{% endblock %}