{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}
    Ajouter un nouvel utilisateur
{% endblock %}

{% block body %}
    <h2>Ajouter un nouvel utilisateur</h2>

    {{ form_start(registrationForm) }}
    <div>
        {{ form_row(registrationForm.pseudo)}}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.telephone) }}
    </div>
    <div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.campus) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
    </div>
    <div>
        <button type="submit" class=" btn btn-lg btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-lg btn-primary">Annuler</button>
    </div>
    {{ form_end(registrationForm) }}

{% endblock %}
