{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Filtrer les sorties</h2>
    </div>
    <div class="FlexSorties">
            <table>
                <thead>
                <tr>
                    <td>Nom de la sortie</td>
                    <td>Date de la sortie</td>
                    <td>Clôture</td>
                    <td>Inscrits/places</td>
                    <td>Etat</td>
                    <td>Inscrit</td>
                    <td>Organisateur</td>
                    <td>Actions</td>
                </tr>
                </thead>

                <tbody>
                {% for s in sorties %}
                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut | date('d/M/Y h:m', false) }}</td> <!--TODO-->
                    <td>{{ s.dateLimiteInscription | date('d/M/Y') }}</td>
                    <td>{{ s.nbInscriptionsMax }}</td>
                    <td>{{ s.etat.libelle }}</td>
                    <td>...A continuer...</td>
                    <td>{{s.organisateur.nom}}</td>
                    <td>
                        <a href="{{ path('/') }}">Afficher</a>

                        {% if s.etat.libelle is same as("Ouverte") %}
                            <a href="{{ path('/') }}">S'inscrire</a>
                        {% endif %}

                        <a href="{{ path('/') }}">Se désister</a>

                        {% if app.user.id is same as(s.organisateur.id) %}
                            {% if s.etat.libelle is same as("En création") %}
                                 <a href="{{ path('/') }}">Publier</a>
                                <a href="{{ path('/') }}">Modifier</a>
                            {% endif %}
                            {% if s.etat.libelle is same as("Ouverte") %}
                                <a href="{{ path('/') }}">Annuler</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

{% block title %}
    Sortie | {{ parent() }}
{% endblock %}

