{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/nouvelle_sortie.css') }}">
{% endblock %}

{% block title %}
    Nouvelle Sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Créer une nouvelle sortie</h2>
    {{ form_start(sortieForm, {attr: {class: 'js-filter-villes'}}) }}

        <div class="formulaire js-filter">
            {%  include 'sortie/inc/_formulairePartieSortie.html.twig' with {sortieForm: sortieForm} only%}

            <div>
                {{ form_label(sortieForm.lieu.ville) }}
                {{ form_widget(sortieForm.lieu.ville,{attr:{'class': 'form-ville'}}) }}
                <div class="div-ville">
                {% include 'sortie/inc/_formulairePartieVille.html.twig' %}
                </div>
                {{ form_errors(sortieForm.lieu.ville) }}
                {{ form_label(sortieForm.lieu.nom) }}
                {{ form_widget(sortieForm.lieu.nom) }}
                {{ form_errors(sortieForm.lieu.nom) }}
                {{ form_label(sortieForm.lieu.rue) }}
                {{ form_widget(sortieForm.lieu.rue) }}
                {{ form_errors(sortieForm.lieu.rue) }}
            </div>
            <div>
                {{ form_label(sortieForm.lieu.latitude) }}
                {{ form_widget(sortieForm.lieu.latitude) }}
                {{ form_errors(sortieForm.lieu.latitude) }}
                {{ form_label(sortieForm.lieu.longitude) }}
                {{ form_widget(sortieForm.lieu.longitude) }}
                {{ form_errors(sortieForm.lieu.longitude) }}
            </div>
        </div>
        <div class="boutons">
            <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
            <button type="submit" class="btn btn-lg btn-primary">Publier la sortie</button>
            <button type="reset" class="btn btn-lg btn-primary">Annuler</button>
        </div>


    {{ form_end(sortieForm) }}
{% endblock %}

{% block js_perso %}{{ asset('js/filtres.js')}} {% endblock %}

