{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/nouvelle_sortie.css') }}">
{% endblock %}

{% block title %}
    Nouvelle Sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Coucou c'est moi !!!</h1>
    {{ form_start(sortieForm) }}
        {{ form_label(sortieForm.nom) }}
        {{ form_widget(sortieForm.nom) }}
        {{ form_errors(sortieForm.nom) }}
    {{ form_end(sortieForm) }}
{% endblock %}



